[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Temp/FSTimeGet-019e9fcbef831b341b7e44d9258da7bf
Temp/FSTimeGet-58680d2879195ca4baef941f1e3fdfcb
Temp/FSTimeGet-aceae04cf4a3bf04eb55c9e33cb55775
Temp/PropertyDatabase_1265138678
Temp/PropertyDatabase_2066312223
Temp/UnityLockfile
Temp/FSTimeGet-4a982a7d5801f7f47b6a38217f2ee499
Temp/workerlic
